*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{

}
.hidden .bar{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.hidden-1{
    display: none; 
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 5;
}
.hidden-1 .bar-1{
    margin: 0;
    padding: 20px;
    display: flex;
    gap: 40%;
    cursor: pointer;

}
.hidden-1 a{
    color: grey;
    display: flex;
}
.hidden-1 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
main{
    background-image: url("./babeque.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    height: 80vh;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: larger;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
ul{
    display: flex;
    gap: 30px;
}
.section-a{
    color: white;
    text-align: center;
    font-size: 1.6rem;
     
}
.section-a h1{
    font-size: 8.5rem;
    font-style: italic;
}
.section-a a{
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: white;
    color: rgb(88, 85, 85);
    
    font-size: 1.2rem;
    border-radius: 10px;

}
.dubai{
    gap: 30px;
    display: flex;
    padding: 10px;
    border-right: 1;
    
} 
#locations{
    border: none;
    background-color: white;

}
.search{
    padding: 5px;
}
#search{
    padding: 10px;
    border: none;

}
.location-search{
    position: relative;
    width: 70%;
    margin: 20px auto;
}
#results{
    position: absolute;
    top: 120%;
    left: 0;
    min-height: 100px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
    display: none;
    transition: 2s;
}
#results .loci{
    padding: 8px;
    display: flex;
    gap: 2px;

}
#results a{
    color: rgb(187, 72, 91);
}
#results .span{
    color: rgb(133, 126, 126);
    font-size: 1.0rem;

}
.section-b{
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}
.section-b img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.section-b .dine{
    padding: 20px;

}
.section-b .instructions{
    padding: 20px;
}
.section-b .dine:hover{
    transform: scale(1.1);
    transition: 3s;
    cursor: pointer;
}
.section-c{
    padding: 30px;
}
.section-c .col-paragraph{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.col-link a{
    padding: 10px;
    color: rgb(194, 25, 84);
}
.section-c .card{
    display: flex;
    gap: 20px;
}
.card img{
    border-radius: 10px;
    width: 300px;
    height: 60vh;
}
.trips{
    color: white;
    position: relative;
    bottom: 70px;
    padding: 10px;
}
.card:hover{
    cursor: pointer;
}
.popular{
    padding: 40px;
    position: relative;
    bottom: 100px;
    margin: 20px;
    margin-top: 40px;
}
.popular h1{
    padding: 20px;
}
.popular-containers{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.popular-containers .container{
    display: flex;
    gap:20px;
    
}
.container .child{
    color: grey;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 100px;

}
.container .child:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px;
}
@media (max-width:760px){
    .hidden-1{
        display: block;
    }
    .section-a a{
        display: flex;
        flex-direction: column;
    }
    .section-b{
        display: flex;
        flex-direction: column;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex-direction: column;
    }


}
