*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url("./babeque.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: larger;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
ul{
    display: flex;
    gap: 30px;
}
.section-a{
    color: white;
    text-align: center;
    font-size: 1.6rem;
     
}
.section-a h1{
    font-size: 8.5rem;
    font-style: italic;
}
.section-a a{
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: white;
    color: rgb(88, 85, 85);
    
    font-size: 1.2rem;
    border-radius: 10px;

}
.dubai{
    gap: 30px;
    display: flex;
    padding: 10px;
    border-right: 1;
    
} 
#search{
    padding: 10px;
    border: none;

}
.location-search{
    position: relative;
    width: 70%;
    margin: 20px auto;
}
#results{
    position: absolute;
    top: 120%;
    left: 0;
    min-height: 200px;
    width: 250px;
    background-color: white;
    z-index: 2;
    display: none;
}

.section-b{
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}
.section-b img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.section-b .dine{
    padding: 20px;

}
.section-b .instructions{
    padding: 20px;
}
.section-b .dine:hover{
    transform: scale(1.1);
    transition: 3s;
    cursor: pointer;
}
.section-c .col-paragraph{
    display: flex;
}
.section-c .col-link{
    color: rgb(194, 25, 84);
}
/* .section-c{
    padding: 20px;
}
.section-c img{
    width: 100%;
    height: 50vh;
    border-radius: 20px;
}
.section-c .card{
    padding: 20px;
    display: flex;
    gap: 20px;
}

.section-c .trips{
    position: relative;
    bottom: 50px;
    color: white;
    padding: 20px;
} */
 
